.container-overflow-vertical {
  overflow: auto;
}

.max-width-container {
  max-width: 100% !important;
  width: 100%;
}

/* xs width */
.article-container-height-responsive {
  height: 80dvh;
}

/* sm width */
@media (min-width: 576px) {
  .article-container-height-responsive {
    height: 80dvh;
  }
}

/* md width */
@media (min-width: 768px) {
  .article-container-height-responsive {
    height: 90dvh;
  }
}

/* lg width */
@media (min-width: 992px) {
  .article-container-height-responsive {
    height: 90dvh;
  }
}

/* xl width */
@media (min-width: 1200px) {
  .article-container-height-responsive {
    height: 90dvh;
  }
}

.responsive-height-container {
  height: 90dvh;
}

/* sm width */
@media (min-width: 576px) {
  .responsive-height-container {
    height: 90dvh;
  }
}

/* md width */
@media (min-width: 768px) {
  .responsive-height-container {
    height: 100dvh;
  }
}

/* lg width */
@media (min-width: 992px) {
  .responsive-height-container {
    height: 100dvh;
  }
}

/* xl width */
@media (min-width: 1200px) {
  .responsive-height-container {
    height: 100dvh;
  }
}

.text-overflow-card {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4; 
  -webkit-box-orient: vertical;
}

/* xs width */
.responsive-post-section {
  width: 100vw;
  height: 90dvh;
}

/* sm width */
@media (min-width: 576px) {
  .responsive-post-section {
    width: 100vw;
    height: 90dvh;
  }
}

/* md width */
@media (min-width: 768px) {
  .responsive-post-section {
    width: 88vw;
    height: 90dvh;
  }
}

/* lg width */
@media (min-width: 992px) {
  .responsive-post-section {
    width: 88vw;
    height: 90dvh;
  }
}

/* xl width */
@media (min-width: 1200px) {
  .responsive-post-section {
    width: 88vw;
    height: 90dvh;
  }
}

.video-container {
  height: 50dvh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/hubert-blog.appspot.com/o/home-page%2Fezgif.com-gif-maker.gif?alt=media&token=8be8bb21-b17b-4f80-a2d5-7de063b733ed");
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

.article-container-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}
