/* xs width */
.mat-toolbar-responsive {
  display: none !important;
}

/* xs width */
.responsive-footer {
  display: block;
}

/* sm width */
@media (min-width: 576px) {
  .responsive-footer {
    display: block;
  }

  .mat-toolbar-responsive {
    display: none !important;
  }
}

/* md width */
@media (min-width: 768px) {
  .responsive-footer {
    display: none;
  }

  .mat-toolbar-responsive {
    display: flex !important;
  }
}

/* lg width */
@media (min-width: 992px) {
  .responsive-footer {
    display: none;
  }

  .mat-toolbar-responsive {
    display: flex !important;
  }
}

/* xl width */
@media (min-width: 1200px) {
  .responsive-footer {
    display: none;
  }

  .mat-toolbar-responsive {
    display: flex !important;
  }
}
