# Add node_modules/ or node_modules to ignore all directories called node_modules in the current folder and any subfolders
node_modules
.serverless

# Visual Studio Code
.vscode
dist
# folder dist build
yarn.lock
