.vertical-horizontal-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.position-absolute-bottom {
  position: absolute;
  bottom: 0;
}

.position-absolute-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.profile-background {
  position: absolute;
  width: 100%;
}

.user-avatar {
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px gray;
  display: inline-block;
}

/* xs width */
.user-avatar-size {
  height: 22vw;
  width: 22vw;
}

.user-avatar-uploader-center {
  position: relative;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  height: 50px;
  width: 50px;
  font-size: 50px;
}

.user-avatar-uploader-corner {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 50px;
  font-size: 50px;
}

.flex-box {
  display: flex;
}

.profile-background-size {
  height: 100%;
}

.card-height-responsive {
  height: 30dvh;
}

/* sm width */
@media (min-width: 576px) {
  .user-avatar-size {
    height: 18vw;
    width: 18vw;
  }

  .card-height-responsive {
    height: 30dvh;
  }
}

/* md width */
@media (min-width: 768px) {
  .user-avatar-size {
    height: 16vw;
    width: 16vw;
  }

  .card-height-responsive {
    height: 35dvh;
  }
}

/* lg width */
@media (min-width: 992px) {
  .user-avatar-size {
    height: 16vw;
    width: 16vw;
  }

  .card-height-responsive {
    height: 40dvh;
  }
}

/* xl width */
@media (min-width: 1200px) {
  .user-avatar-size {
    height: 9vw;
    width: 9vw;
  }

  .card-height-responsive {
    height: 45dvh;
  }
}