.user-profile-avatar {
  /* background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg"); */
  background-size: cover;
}

.mat-card-avatar {
  height: 80px !important;
  width: 80px !important;
}

.vertical-horizontal-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
