.mdc-list-item__content {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  align-self: center;
  flex: 1;
  pointer-events: none;
}

.active-list-item {
  background-color: #f5f5f5;
}

.stick-footer {
  position: fixed !important;
  left: 0 !important;
  width: 100% !important;
  top: initial !important;
  z-index: 9;
  -webkit-transition: bottom 0.5s ease;
  -moz-transition: bottom 0.5s ease;
  -o-transition: bottom 0.5s ease;
  transition: bottom 0.5s ease;
}
