.home-vide-content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

div.horizonal-scroll-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap !important;
  width: 100% !important;
  overflow-x: scroll !important;
  overflow-y: hidden !important;
}

div.horizonal-scroll-section > .horizonal-scroll-card {
  width: 220px;
  height: 195px;
  position: relative;
  text-align: start;
  border-radius: 20px;
  margin-inline-end: 15px;
}

.horizonal-scroll-content {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
  white-space: nowrap;
}

div.horizonal-scroll-section::-webkit-scrollbar {
  height: 10px !important;
}

div.horizonal-scroll-section::-webkit-scrollbar-track {
  background: rgb(219, 218, 218) !important;
}

div.horizonal-scroll-section::-webkit-scrollbar-thumb {
  background: rgb(197, 197, 197) !important;
}

.list-item-height {
  height: 60px !important;
}
