.slide {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slide-show-container {
  height: 30dvh;
  position: relative;
  margin: auto;
}

/* sm width */
@media (min-width: 576px) {
  .slide-show-container {
    height: 30dvh;
    position: relative;
    margin: auto;
  }
}

/* md width */
@media (min-width: 768px) {
  .slide-show-container {
    height: 40dvh;
    position: relative;
    margin: auto;
  }
}

/* lg width */
@media (min-width: 992px) {
  .slide-show-container {
    height: 40dvh;
    position: relative;
    margin: auto;
  }
}

/* xl width */
@media (min-width: 1200px) {
  .slide-show-container {
    height: 40dvh;
    position: relative;
    margin: auto;
  }
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.position-absolute-center {
  position: absolute;
}

.hide-slide {
  text-decoration: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(139, 139, 139, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}

.fade:not(.show) {
  opacity: 1;
}

.position-absolute-center {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 80px;
}

@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

.image-frame-rounded {
  border-radius: 25px;
  margin: auto;
  display: block;
}

/* xs width */
.image-height-responsive {
  height: 30dvh;
  width: 100%;
}

/* sm width */
@media (min-width: 576px) {
  .image-height-responsive {
    height: 30dvh;
    width: 100%;
  }
}

/* md width */
@media (min-width: 768px) {
  .image-height-responsive {
    height: 30dvh;
    width: 85%;
  }
}

/* lg width */
@media (min-width: 992px) {
  .image-height-responsive {
    height: 30dvh;
    width: 85%;
  }
}

/* xl width */
@media (min-width: 1200px) {
  .image-height-responsive {
    height: 40dvh;
    width: 85%;
  }
}
