.slide {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slide-show-container {
  height: 280px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.hide-slide {
  text-decoration: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(139, 139, 139, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #f5bebe;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: rgb(255, 255, 255, 1);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}

.fade:not(.show) {
  opacity: 1;
}

.position-absolute-center {
  position: absolute;
  left: 50%;
  right: 0;
  bottom: 0;
}

@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

.image-frame-rounded {
  border-radius: 25px;
  margin: auto;
  display: block;
}

/* xs width */
.image-height-responsive {
  height: 35dvh;
  width: 100%;
}

div.horizonal-scroll-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap !important;
  width: 100% !important;
  overflow-x: scroll !important;
  overflow-y: hidden !important;
}

div.horizonal-scroll-section > .horizonal-scroll-card {
  width: 220px;
  height: 195px;
  position: relative;
  text-align: start;
  border-radius: 20px;
  margin-inline-end: 15px;
}

.horizonal-scroll-content {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
  white-space: nowrap;
}

div.horizonal-scroll-section::-webkit-scrollbar {
  height: 10px !important;
}

.fix-height {
  height: 38dvh;
}

.gallery-image-text {
  margin: auto;
  width: 95%;
  padding: 15px 10px;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.6));
  background: rgba(255, 255, 255, 0.68);
  border-radius: 20px;
}

.text-overflow-title {
  display: -webkit-box;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  /* number of lines to show */
  -webkit-line-clamp: 1;
  white-space: pre-wrap;
  -webkit-box-orient: vertical;
}

.text-overflow-preview {
  display: -webkit-box;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  /* number of lines to show */
  -webkit-line-clamp: 4;
  white-space: pre-wrap;
  -webkit-box-orient: vertical;
}
